.card {
    margin: 35px;
    display: flex;
    flex-direction: column;
    background-color: white;
    align-items: center;
    width: 300px;
    padding-bottom: 18px;
}

h2 {
    font-family: sans-serif;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    letter-spacing: 2px;
    font-weight: normal;
    padding: 5px;
    margin: 5px 0px 5px;
    height: 91.4px;
    align-items: center;
}


button {
    width: 220px;
    font-size: 18px;
    cursor: pointer;
    padding: 12px 10px;
    text-transform: uppercase;
  }

  .button-like {
    background: rgb(153, 255, 0);
  }

  .button-like .fa {
      transform: rotateY(180deg);
  }

  .button-unlike {
    background: #dedede;
    color: rgb(93, 93, 93);
  }

  .button-unlike .fa {
      transform: rotate(180deg);
  }

  .fa{
      margin-right: 10px;
  }
